.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Cards {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.button {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-width: 0px;
  height: 30px;
  width: 95px;
  bottom: 0.625rem;
  right: 0.625rem;
  border-radius: 0.9375rem;
  border: none;
  line-height: 1.525rem;
  color: #ffffff;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 129, 170, 1);
  margin: 0.5rem 0.1rem 0.5rem 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
